<!DOCTYPE html>
<html>
<head>
    <title>Venda de Grãos de Café</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="static/favicon-32x32.png">
</head>
<body>
    <div class="titulo">
        <h1>Venda de Grãos de Café</h1>
        <p>Bem-vindo à nossa loja online de grãos de café!</p>
        <h2>Produtos Disponíveis</h2>
    </div>

    <section class="principal">
        <div class="produto">
            <ul>
                <li>
                    <img src="static/coffe.jpg" alt="Grão de Café Arábica" width="250px">
                    <h3>Grão de Café Arábica - R$ 20,00/kg<h3>
                    <p>Origem: Brasil, Sabor: Rico e Frutado</p>
                </li>
            </ul>

        </div>
        <div class="produto">
            <ul>
                <li>
                    <img src="static/coffe.jpg" alt="Grão de Café Arábica" width="250px">
                    <h3>Grão de Café Arábica - R$ 20,00/kg<h3>
                    <p>Origem: Brasil, Sabor: Rico e Frutado</p>
                </li>
            </ul>

        </div>
        <div class="produto">
            <ul>
                <li>
                    <img src="static/coffe.jpg" alt="Grão de Café Arábica" width="250px">
                    <h3>Grão de Café Arábica - R$ 20,00/kg<h3>
                    <p>Origem: Brasil, Sabor: Rico e Frutado</p>
                </li>
            </ul>

        </div>
        <div class="produto">
            <ul>
                <li>
                    <img src="static/coffe.jpg" alt="Grão de Café Arábica" width="250px">
                    <h3>Grão de Café Arábica - R$ 20,00/kg<h3>
                    <p>Origem: Brasil, Sabor: Rico e Frutado</p>
                </li>
            </ul>

        </div>
        <div class="produto">
            <ul>
                <li>
                    <img src="static/coffe.jpg" alt="Grão de Café Arábica" width="250px">
                    <h3>Grão de Café Arábica - R$ 20,00/kg<h3>
                    <p>Origem: Brasil, Sabor: Rico e Frutado</p>
                </li>
            </ul>

        </div>
        <div class="produto">
            <ul>
                <li>
                    <img src="static/coffe.jpg" alt="Grão de Café Arábica" width="250px">
                    <h3>Grão de Café Arábica - R$ 20,00/kg<h3>
                    <p>Origem: Brasil, Sabor: Rico e Frutado</p>
                </li>
            </ul>

        </div>
    </section>
</body>
    <footer>© 2023 Venda de Grãos de Café</footer>
</html>
