<!DOCTYPE html>
<html>
<head>
    <link rel="icon" type="image/png" sizes="32x32" href="static/favicon-32x32.png">
    <link rel="stylesheet" type="text/css" href="static/estilo.css">
    <title>MoedaXChange</title>
</head>
<body>
    <div class="container">
        <div class="wrapper">
            <svg>
                <text x="50%" y="50%" dy=".35em" text-anchor="middle">
                    MoedaXChange
                </text>
            </svg>
        </div>
        <form method="POST">
            <label for="valor">Valor:</label>
            <input type="number" step="0.01" name="valor" required>
            <br><br>
            <label for="moeda_origem">Moeda de Origem:</label>
            <select name="moeda_origem" required>
                <option value="USD">USD - Dólar Americano</option>
                <option value="EUR">EUR - Euro</option>
                <option value="BTC">BTC - Bitcoin</option>
            </select>
            <br><br>
            <input type="submit" value="Converter">
        </form>

        {% if valor_convertido is not none %}
            <div class="result">
                <p>Valor Convertido:</p>
                <p>{{ '{:,.2f} {}'.format(valor_convertido, moeda) }}</p>
            </div>
        {% endif %}
    </div>
</body>
</html>

